// Fonts Icons
@font-face {
  font-family: "spread";
  src:url("../icons/spread.eot");
  src:url("../icons/spread.eot?#iefix") format("embedded-opentype"),
    url("../icons/spread.woff") format("woff"),
    url("../icons/spread.ttf") format("truetype"),
    url("../icons/spread.svg#spread") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "spread" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "spread" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook:before {
  content: "\61";
}
.icon-social-twitter:before {
  content: "\62";
}
.icon-close-button:before {
  content: "\63";
}
.icon-lupa:before {
  content: "\64";
}
.icon-social-linkedin:before {
  content: "\65";
}
.icon-seta:before {
  content: "\66";
}

// dropdown
.dropdown.open{

  .dropdown-menu{
    display: block;
    border: 0;
  }
}


// Paginacao

nav.paginacao{
  padding: 40px;
  margin-bottom: 20px;
  .page-numbers{
    border: 1px solid $primary;
    padding: 6px 12px;
  }
  .prev{
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    padding: 3px;
      &:before{
        font-family: "spread" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: rotate(179deg);
        display: block;
        font-size: 1.9rem;
      }
  }
  .next {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding: 3px;

  }
  .next{
    &:before{
      font-family: "spread" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\66";
      display: block;
      font-size: 1.9rem;
    }
  }
}

// Botão do blog

.btn-spread{
  $btn-color: $primary !important;
  $btn-color-dark: $body-bg;
	color: $btn-color;
  border: 1px solid $primary;
  @include border-radius(40px);
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  font-size: 0.9rem;
  padding-right: 35px;
  &:before{
    position: absolute;
    right: 5px;
    font-size: 1.4rem;
  }
  span {
    // @include absolute();
    position: absolute;
    display: block;
    // @include size(0);
    width: 0;
    height: 0;
    @include border-radius(50%);
    background-color: $primary;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    color: $btn-color-dark !important;

    span {
      width: 400px;
      height: 400px;

    }
  }

  &:active {
    background-color: $btn-color;
  }

  &.btn-spread-dark{
    color: $body-bg !important;
    border: 1px solid $body-bg;
    span{
      background-color: $body-bg;
    }
    &:hover {
      color: $btn-color !important;
    }
  }
  &.btn-spread-warning{
    $btn-color: $warning !important;
    $btn-color-dark: $body-bg;
  	color: $btn-color;
    border: 1px solid $warning;
    span {
      background-color: $warning;
    }
    &:hover {
      color: $body-bg !important;
      span {
        width: 1000px;
        height: 1000px;

      }
    }
  }
}




// IMG align in post
.blog-single .texto img{
  @media (max-width: 768px)  {
    width: 100%;
    height: auto;
   }
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
