@import "mixins";
@import "bootstrap/bootstrap";

@import "ui";

// icons font awesome
@import "iconsawesome/font-awesome";

.scroll-debug {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
// Módulos
// @import "modules/banner";
// @import "modules/bannerconteudo";
// @import "modules/contato";

// scroll animation grano
@import "scrollanimationgrano";

// preloader ===================================================================
#loading-bar .bar {
  background: $primary;
}
// / preloader =================================================================

// whitelabel

.container{
  // margin-bottom: $container-margim-bottom;
}
a{
  // @include transition-property(color);
  // @include transition-duration(0.4s);
  &:hover{
    text-decoration: none;
  }
}

// nav bar =====================================================================

.navbar{
  z-index: 99999;
  // margin-top: 0.5em;
  .nav-link{
    color: $body-bg !important;
  }
  &.dark{
    .nav-link{
      color: $body-color !important;
    }
    .logo-dark{
      opacity: 1;
    }
    .navbar-brand{
      img{
        opacity: 0;
      }
    }
    .newsletter{
      border-color: $body-color !important;
      color: $body-color !important;
      background-color: $body-bg;
    }
  }
  .logo-dark{
    @include transition(opacity, 0.5s);
    opacity: 0;
    display: block;
    width: 120px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0px;
  }
  .newsletter{
    padding: 8px !important;
    margin-top: 9px !important;
    span{
      background-color: $primary !important;
    }
  }
  .container{
    margin-bottom: 0;
  }
  #bs-example-navbar-collapse-1{
    padding-top: 3em;
    padding-left: 2em;
  }
  a.navbar-brand{
    // height: 130px;
    img{
      @include transition(opacity, 0.5s);
      opacity: 1;
    }
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    // @include box-shadow(0);
    // @include border-radius(0);
  }
  ul.navbar-social{
    padding-top: 3em;
    display: none;
    /* Small devices (tablets, 768px and up) */
     // @media (min-width: $screen-sm-min) {
     //  display: block;
     // }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        // color: $text-color;
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        font-size: 0;
        &:before{
          @include fa-icon();
          width: 30px;
          height: 30px;
          font-size: 16px;
          // @include border-radius(15px);
          color: white;
          padding-top: 7px;
          text-align: center;
          // background-color: lighten($gray-base, 60%);
          // @include transition-property(background-color);
          // @include transition-duration(0.6s);
        }
      }
      &.facebook a{
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
    }
  }
}

// / nav bar ===================================================================

// Back to top =================================================================
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    @include border-radius(30px);
    padding: 10px;
    color: $body-bg;
    .icon-seta{
      &:before{
        display: block;
        transform: rotate(-90deg);
        font-size: 2rem;
      }
    }
}

// / Back to top ===============================================================

// widget
li.widget{
  // @extend .well;
  list-style: none !important;
  h2{
    // font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    // @extend .input-group;
  }
  .search-submit{
    // @extend .btn;
    // @extend .btn-default;
    float: left;
    // @include border-top-right-radius(0);
    // @include border-bottom-right-radius(0);
    span{
      // @extend .fa;
      // @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        // font-size: $font-size-base+2;
      }
    }
  }
  input{
    // @extend .form-control;
  }
}

// Portfolio ===================================================================
.container.blog-single{
  // margin-top: $container-margim-bottom/2;
}
// ==> slide
#owl-single-porfolio{
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
}
// / Portfolio =================================================================



// Blog ========================================================================
.blog-home{
  .blog-banner{
    width: 100%;
    background-color: black;
    height: 568px;
    position: relative;
    margin-bottom: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
    }
    .content{
      display: block;
      max-width: 490px;
      margin: 0 auto;
      text-align: center;
      padding-top: 117px;
      color: $body-bg;
      z-index: 2;
      position: relative;
    }
    .mask{
      height: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }
  }

  .nav-cat{
    // Medium devices (tablets, 768px and up)
    margin-bottom: 40px;
    display: inline-block;
    width: 70%;
    .dropdown{
      display: none;
    }
    @media (max-width: 768px)  {
      width: 50%;
      .dropdown{
        display: block;
      }
      .lista{
        display: none;
      }
     }

    a{
      margin-right: 20px;
      @include border-radius(20px);
      padding: 5px 10px ;
      display: inline-block;
      border: 1px solid $body-bg;
      @include transition(border 0.5s);
      &:hover{
        border: 1px solid $primary;

      }
    }
  }
  .busca-principal{
     display: inline-block;
     float: right;
     margin-top: 3px;
  }
  // redes sociais
  .icon{
    display: inline-block;
    width: 25px;
    height: 20px;
    font-size: 0;
    border-right: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
    &:before{
      font-size: 1rem;
    }
    &:last-child{
      border: none;
    }
  }


  // loop de posts
  .loop{
    $postHeight: 300px;
    .height-1,.post{
      height: $postHeight;
    }
    .height-2{
      height: $postHeight*2;
    }
    .destaque-2{
      // Medium devices (tablets, 768px and up)
      @media (max-width: 768px)  {
        .post{
          margin-top: 25px;
          height: 450px;
        }
       }
    }
    .post{
      padding: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include transition(all 0.5s);
      position: relative;
      cursor: pointer;
      a.link-post{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
      }
      .content{
        background-color: rgba(255,255,255,0.8);
        padding: 20px;
        line-height: 1.3rem;
        @include transition(all 0.5s);
        h2{
          color: $primary;
              line-height: 2rem;
        }
      }
      .footer{
        height: 40px;
      }
      .redes-sociais,.btn-spread{
        display: inline-block;
      }
      .redes-sociais{
        padding-top: 10px;
      }
      .btn-spread{
        float: right;
      }
      &:hover{
        padding: 0;
        .content{
          width: 100%;
          height: 100%;
          padding: 40px;
          background-color: rgba(0,0,0,0.5);
          color: $body-bg;
          .icon{
            border-color: $body-bg;
          }
        }
      }
    }
    .loop-2{
      .post{
        margin-top: 25px;
        height: 450px;

      }
    }
  }
}

// single

.blog-single{
  .blog-banner{
  height: 468px;
  }
  .autor{
    margin-bottom: 20px;
    span{
      color: $primary;
    }
  }
  .single-more-posts{
    .titulo{
      text-align: center;
      margin-top: 60px;
      h1{
        color: $warning;
        font-weight: bold;
      }
    }
    .btn-blog{
      border: 3px solid;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
    }
    .post{
      h2{
        color: $warning !important;
      }
      .cat{
        a{
          color: $warning;
        }
      }
    }
  }
}

// archive
.archive{
  h1{
    color: $primary;
    font-weight: bold;
  }
  .blog-banner{
    height: 336px;
  }
}
// / Blog ======================================================================
